{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑填空题</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="edit" id="edit" method="post" action="{:url('editSingleChoicePost')}">
                        <input type="hidden" value="{$info.id}" name="id"/>
                        <input type="hidden" value="{$page}" name="page"/>
                        <input type="hidden" value="{$difficultyLevel}" name="difficultyLevel"/>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">题目：</label>
                            <div class="input-group col-sm-5">
                                <input type="text" class="form-control" id="question" name="question" value="{$info.question}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备选答案A：</label>
                            <div class="input-group col-sm-5">
                                <input type="text" name="answerA" id="answerA" class="form-control" value="{$answers.A}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备选答案B：</label>
                            <div class="input-group col-sm-5">
                                <input type="text" name="answerB" id="answerB" class="form-control" value="{$answers.B}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备选答案C：</label>
                            <div class="input-group col-sm-5">
                                <input type="text" name="answerC" id="answerC" class="form-control" value="{$answers.C}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">备选答案D：</label>
                            <div class="input-group col-sm-5">
                                <input type="text" name="answerD" id="answerD" class="form-control" value="{$answers.D}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">答案：</label>
                            <div class="input-group col-sm-5">
                                <input type="text" name="answer" id="answer" class="form-control" value="{$info.answer}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">难度等级：</label>
                            <div class="input-group col-sm-5">
                                <select name="difficulty_level" id="difficulty_level" class="form-control">
                                    <option {$info.difficulty_level == 1 ? 'selected' : ''} value="1">1星</option>
                                    <option {$info.difficulty_level == 2 ? 'selected' : ''} value="2">2星</option>
                                    <option {$info.difficulty_level == 3 ? 'selected' : ''} value="3">3星</option>
                                    <option {$info.difficulty_level == 4 ? 'selected' : ''} value="4">4星</option>
                                    <option {$info.difficulty_level == 5 ? 'selected' : ''} value="5">5星</option>
                                    <option {$info.difficulty_level == 6 ? 'selected' : ''} value="6">6星</option>
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button id="formSubmit" type="button" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">

    $(function(){

        $('#formSubmit').click(function() {

            if (common.isNullOrEmpty($('#question').val())) {
                layer.msg('题目中有问题还空着呢',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmpty($('#answer').val())) {
                layer.msg('题目中有答案还空着呢',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmpty($('#difficulty_level').val())) {
                layer.msg('题目中有难度还空着呢',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }


            $("form#edit").submit();
        });
    });

</script>
</body>
</html>