Icon?
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
nbproject
composer.lock
composer.phar
.idea
*/.idea
.project
*/cache/*php
*/temp/*php
*/logs/*log
/.idea
/.vscode
*.log
config/cache.php
config/log.php
application/admin/config/*
