{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加管理员</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="add" id="add" method="post" action="{:url('addPost')}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">账号：</label>
                            <div class="input-group col-sm-4">
                                <input id="username" type="text" class="form-control" name="username" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">密码：</label>
                            <div class="input-group col-sm-4">
                                <input id="password" type="text" class="form-control" name="password" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属组：</label>
                            <div class="input-group col-sm-4">
                                <select name="group_id" class="form-control" id="group_id" >
                                    {foreach $groups as $vo}
                                    <option value="{$vo.id}">{$vo.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button id="formSubmit" type="button" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">

    $(function(){

        $('#formSubmit').click(function() {
            if(common.isNullOrEmpty($('#username').val())){
                layer.msg('请输入账号',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
            if(common.isNullOrEmpty($('#password').val())){
                layer.msg('请输入密码',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
            if(common.isNullOrEmpty($('#group_id').val())){
                layer.msg('请选择所属组',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }


            $("form#add").submit();
        });
    });

    //IOS开关样式配置
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {
        color: '#1AB394'
    });

    var config = {
        '.chosen-select': {},                    
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>
</body>
</html>
