{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑菜单</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" name="edit" id="edit" method="post" action="{:url('editPost')}">
                        <input type="hidden" name="id" value="{$menu.id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属父级：</label>
                            <div class="input-group col-sm-4">
                                <select name="pid" class="form-control">
                                    <option value="0">--默认顶级--</option>
                                    {foreach $list as $vo}
                                    <option value="{$vo.id}" {if condition="$vo['id'] eq $menu['pid']"}selected="selected"{/if}>{$vo.lefthtml}{$vo.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">菜单名称：</label>
                            <div class="input-group col-sm-4">
                                <input id="title" type="text" class="form-control" name="title" required="" aria-required="true" value="{$menu.title}">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">节点：</label>
                            <div class="input-group col-sm-4">
                                <input type="text" name="name" id="name" value="{$menu.name}" placeholder="模块/控制器/方法"  class="form-control" />
                                <span class="help-block m-b-none">如：admin/user/adduser </span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> 样式名称：</label>
                            <div class="input-group col-sm-4">
                                <input type="text" name="css" id="css" value="{$menu.css}" placeholder="输入样式名称"  class="form-control" />
                                <span class="help-block m-b-none"> <a href="http://fontawesome.dashgame.com/" target="_black">选择图标</a> 如:fa fa-user</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> 状&nbsp;态：</label>
                            <div class="input-group col-sm-4" style="padding-top:5px;">
                                <input class="js-switch" type="checkbox" {if condition="$menu['status'] eq 1"}checked{/if}/>
                                <input name="status" value="{$menu.status}" type="hidden">
                                <span class="lbl">&nbsp;&nbsp;默认开启</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> 排序：</label>
                            <div class="input-group col-sm-5">
                                <input type="text" name="sort" id="sort" value="{$menu.sort}" placeholder="输入排序"  class="form-control" />
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button id="formSubmit" type="button" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">

    $(function(){

        $('#formSubmit').click(function() {

            if(common.isNullOrEmpty($('#title').val())){
                layer.msg('请输入菜单名称',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }

            if(common.isNullOrEmpty($('#name').val())){
                layer.msg('控制器/方法不能为空',{icon:0,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }

            $("form#edit").submit();

        });
     
    });

    //IOS开关样式配置
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {
        color: '#1AB394'
    });

    elem.onchange = function () {
        if(elem.checked) {
            $("input[name='status']").val(1);
        } else {
            $("input[name='status']").val(0);
        }
    };

    var config = {
        '.chosen-select': {}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>
</body>
</html>